@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Stint+Ultra+Condensed&display=swap');

:root{
    --color:#404040;
    --max-width:600px;
    --font-color:#E7E5E4;

}

body{
    margin:0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

nav{
    background-color: var(--color);
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    color:var(--font-color);
}



main{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem;
}

.btn-translate{
    margin : 0.5rem 1rem 1rem 0rem;
    padding :0.5rem 1rem;
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--color);
}

.btn-reset{
    margin : 0.5rem 0rem 1rem 0rem;
    padding :0.5rem 1rem;
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--color);
}

span{
    font-size: 1.1rem;
    color:lightcoral ;
    font-family: cursive;
}


button:hover{
    background-color: grey;
    border : 1px solid white;
    color:var(--color);
    transition: all ease-in-out 0.2s;
}


.output-area{
    border : 0.5px solid black;
    min-height: 12vh;
    max-height: 12vh;
    margin-top: 1rem;
    overflow: auto;
    padding: 1rem;
    border-radius: 1rem;
    
}
textarea{
    width: 100%;
    min-height: 15vh;
    max-height: 15vh;
    box-sizing: border-box;
    display:block;
    resize: none;
    padding:1rem;
    margin-bottom: 1.5rem;
}


footer{
    padding-top: 0.7rem;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: var(--color);
    color: var(--font-color);
}

footer div{
    font-size: 1.4rem;
    font-weight: bold;
}

footer p{
    padding: 0rem 1rem 1rem 1rem;
    max-width: var(--max-width);
    margin: auto;

}
